<h1> This site is like a Pinterest for, well, us </h1>
<p> 
<p> <br> <%= link_to "home", root_path %> <br>

	<br>

	We'll share daily inspiration and tips, along with success stories of women all over the globe </p> 