<h1>Kimi Glitters on the internet</h1>

<p><%= link_to "here", about_path %> <br>

	<br> Hey Kimi, <br>

Thanks for being super inspirational and amazing. <br>

I do hope that I'll be able to show you this really soon. 

Sign up <%= link_to "here", "#" %> 

<br>

Also, here's <img src="https://www.facebook.com/photo.php?fbid=10102734919526149&set=a.10102029804452409.1073741828.838567&type=1&theater" alt= "elephant"> </p>
