<div class="jumbotron center">
	<h1>kimiglitters online</h1>

<p> 

	<br> Hey Kimi, <br>

<br>
I love you. <br>

<br>

This site is dedicated to you. 

<br>

And Charlotte, Siobhan and Lauren. 

<br>

And kinda Danielle La Porte and Marie Forleo.

<br>

<%= link_to "Log in", "#", class: "btn btn-primary btn-lg" %> 
<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
<br>
</p>
</div>